
@{
    ViewBag.Title = "Unauthorized Request";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="mainbar">
    <div class="page-head">
        <div class="container">
            <h2>Unauthorized Request</h2>
            <h6> You are not authorized to access this page.</h6>
        </div>
    </div>
</div>
