@{
    ViewBag.Title = "Prisoner Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mainbar">
    <!-- Page heading -->
    <div class="page-head">
        <h2 class="pull-left">Prisoner Report</h2>

        <div class="clearfix"></div>


        <div class="clearfix"></div>

    </div>
    <div class="matter">
        <div class="container">
            <!-- Dashboard Graph starts -->
            <div class="row">

                <div id="autoUpdate">
                    <table width="100%" height="100%">

                        <tr><td><iframe id="myReport" width="100%" height="800px" src="~/Reports/PrisonerReport.aspx"></iframe></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(window).load(function () {
            //document.getElementById("myReport").src = "~/Reports/ReportViewer.aspx";
            //$("#autoUpdate").show();
        });
    </script>
</div>
