@model OSM.Models.IdentityModels.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}
}

<div class="admin-form">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Widget starts -->
                <div class="widget">

                    <!-- Widget head -->
                    <div class="widget-head">
                        <i class="icon-lock"></i> Forgot Password
                    </div>

                    <div class="widget-content">
                        <div class="padd">
                            <!-- Login form -->
                           @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                           {
                            @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <!-- Email -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3" for="inputEmail">Forgot Password</label>
                                    <div class="col-lg-9">
                                        @*<input type="text" class="form-control" id="inputEmail" placeholder="Email">*@
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    
                                </div>
    <!-- Password -->
                               
    <!-- Remember me checkbox and sign in button -->
                                
                                <div class="col-lg-9 col-lg-offset-3">
                                    <input type="submit" class="btn btn-success" value="Email Link" />
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                    <a href="Login">
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </a>
                                </div>
                            }

                            <br />


                        </div>
                    </div>
                   
                </div>

            </div>
        </div>



    </div>
</div>


