.textAlignRight {
    text-align: right !important;
}
.textAlignLeft {
    text-align: left !important;
}
.FontSize16 {
    font-size: 16px !important;
}
.validation-summary-errors ul {
   list-style: none
}

.field-validation-error {
    color: #e80c4d;

}